.top-nav {
  height: 60px;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;  
  
  a {
    height: 50px;
    width: 50px;
    float: right;
    margin: 10px 10px 0 0;
    z-index: 2;

    .nav-pic {
      display: block;
      height: 50px;
      width: 50px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 50%;
      box-shadow: 0 0 0 3px #e78267;
    }
  }
}